* @ishiko732

README* @Luc-Mcgrady
**/README* @Luc-Mcgrady
CONTRIBUTING.md @Luc-Mcgrady
CODE_OF_CONDUCT.md @Luc-Mcgrady
.github/ISSUE_TEMPLATE/* @Luc-Mcgrady
.github/pull_request_template.md @Luc-Mcgrady
