# Dependencies
node_modules/
.pnpm-store/

# Turbo
.turbo/


# Build outputs
**/dist


# AI
.claude
.cursor
.specstory


# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# IDE and editor files
.idea
*.swp
*.swo
.DS_Store


# Environment variables
.env
.env.local
.env.*.local

# Documentation and coverage
**/coverage/
**/docs/

# Rust
target/
artifacts/