name: build-napi
env:
  DEBUG: napi:*
  APP_NAME: optimizer
  MACOSX_DEPLOYMENT_TARGET: '10.13'
  CARGO_INCREMENTAL: '1'

on:
  workflow_call:
    inputs:
      node-version:
        type: string
        default: '20'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        settings:
          - host: macos-latest
            target: x86_64-apple-darwin
          - host: windows-latest
            target: x86_64-pc-windows-msvc
          - host: windows-latest
            target: i686-pc-windows-msvc
          - host: windows-latest
            target: aarch64-pc-windows-msvc
          - host: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            docker: ghcr.io/napi-rs/napi-rs/nodejs-rust:lts-debian
            extra_flags: --use-napi-cross
          - host: ubuntu-latest
            target: x86_64-unknown-linux-musl
            docker: ghcr.io/napi-rs/napi-rs/nodejs-rust:lts-alpine
            extra_flags: -x
          - host: macos-latest
            target: aarch64-apple-darwin
          - host: ubuntu-latest
            target: aarch64-unknown-linux-gnu
            docker: ghcr.io/napi-rs/napi-rs/nodejs-rust:lts-debian-aarch64
            extra_flags: --use-napi-cross
          - host: ubuntu-latest
            target: aarch64-unknown-linux-musl
            docker: ghcr.io/napi-rs/napi-rs/nodejs-rust:lts-alpine-aarch64
            extra_flags: -x
          - host: ubuntu-latest
            target: aarch64-linux-android
          - host: ubuntu-latest
            target: wasm32-wasip1-threads

    runs-on: ${{ matrix.settings.host }}
    name: stable - ${{ matrix.settings.target }} - node@${{ inputs['node-version'] }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node & pnpm
        uses: ./.github/actions/setup-node-pnpm
        with:
          node-version: ${{ inputs.node-version }}

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: ${{ matrix.settings.target }}

      - name: Cache cargo
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            .cargo-cache
            target/
          key: ${{ matrix.settings.target }}-cargo-${{ matrix.settings.host }}

      - uses: mlugg/setup-zig@v2
        if: ${{ contains(matrix.settings.target, 'musl') }}
        with:
          version: 0.15.1

      - name: Install cargo-zigbuild
        uses: taiki-e/install-action@v2
        if: ${{ contains(matrix.settings.target, 'musl') }}
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          tool: cargo-zigbuild

      - name: Setup toolchain
        run: ${{ matrix.settings.setup }}
        if: ${{ matrix.settings.setup }}
        shell: bash

      - name: Setup pnpm (x86)
        if: matrix.settings.target == 'i686-pc-windows-msvc'
        shell: bash
        run: npm install -g corepack@0.32.0 --force && corepack enable pnpm

      - name: Setup node x86
        uses: actions/setup-node@v4
        if: matrix.settings.target == 'i686-pc-windows-msvc'
        with:
          node-version: 20
          cache: 'pnpm'
          architecture: x86

      - name: Build
        if: matrix.settings.target != 'i686-pc-windows-msvc'
        run: pnpm exec turbo run build --filter=@open-spaced-repetition/binding -- --target ${{ matrix.settings.target }} ${{ matrix.settings.extra_flags }}
        shell: bash
        env:
          NAPI_TARGET: ${{ matrix.settings.target }}
          TURBO_API: ${{ secrets.TURBO_API }}
          TURBO_TEAM: ${{ vars.TURBO_TEAM }}
          TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
          TURBO_REMOTE_CACHE_SIGNATURE_KEY: ${{ secrets.TURBO_REMOTE_CACHE_SIGNATURE_KEY }}
      # Turborepo does not support windows ia32 architecture, fall back to direct napi build
      - name: Build (i686)
        if: matrix.settings.target == 'i686-pc-windows-msvc'
        run: pnpm -F @open-spaced-repetition/binding exec napi build --platform --release --target i686-pc-windows-msvc -o ./dist
        shell: bash
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        if: matrix.settings.target != 'wasm32-wasip1-threads'
        with:
          name: bindings-${{ matrix.settings.target }}
          path: |
            packages/binding/dist/*.node
            packages/binding/dist/*.js
            packages/binding/dist/*.d.ts
            packages/binding/dist/*.cjs
            packages/binding/dist/*.mjs
          if-no-files-found: error
      - name: Upload WASI artifact
        uses: actions/upload-artifact@v4
        if: matrix.settings.target == 'wasm32-wasip1-threads'
        with:
          name: bindings-${{ matrix.settings.target }}
          path: |
            packages/binding/dist/*.wasm
            packages/binding/dist/*.js
            packages/binding/dist/*.d.ts
            packages/binding/dist/*.cjs
            packages/binding/dist/*.mjs
          if-no-files-found: error
