name: check

concurrency:
  group: check-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    branches:
      - main
      - preview

    paths-ignore:
      - '.devcontainer/**'
      # - '.github/**'
      - '.vscode/**'
      - '.gitignore'
      - '.npmignore'
      - 'LICENSE'
      - 'README.md'
  push:
    paths-ignore:
      - '.devcontainer/**'
      # - '.github/**'
      - '.vscode/**'
      - '.gitignore'
      - '.npmignore'
      - 'LICENSE'
      - 'README.md'
    branches:
      - main
      - preview

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  build:
    strategy:
      matrix:
        node: [20]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    name: '${{matrix.platform}} / Node.js ${{ matrix.node }}'
    runs-on: ${{matrix.platform}}

    steps:
      - name: Configure Git line endings on Windows
        if: runner.os == 'Windows'
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node & pnpm
        uses: ./.github/actions/setup-node-pnpm
        with:
          node-version: ${{ matrix.node }}

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Check
        run: pnpm run check
