name: CI NAPI

concurrency:
  group: ci-napi-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  DEBUG: napi:*
  APP_NAME: optimizer
  MACOSX_DEPLOYMENT_TARGET: '10.13'
  CARGO_INCREMENTAL: '1'

on:
  pull_request:
    branches:
      - main
      - preview

    paths:
      - 'packages/binding/**'
      - '.github/workflows/ci-napi.yml'
      - 'pnpm-lock.yaml'

permissions:
  contents: read
  id-token: write
  pull-requests: write

jobs:
  build:
    uses: ./.github/reusable/build-napi.yml
    with:
      node-version: 20
  test:
    needs: build
    strategy:
      fail-fast: false
      matrix:
        target:
          - x86_64-pc-windows-msvc
          - x86_64-apple-darwin
          - aarch64-apple-darwin
          - x86_64-unknown-linux-gnu
          - x86_64-unknown-linux-musl
          - aarch64-unknown-linux-gnu
          - aarch64-unknown-linux-musl
          - wasm32-wasip1-threads
        node:
          - '20'
          - '22'

    uses: ./.github/reusable/test-napi.yml
    with:
      target: ${{ matrix.target }}
      node-version: ${{ matrix.node }}
