# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Publish Package to npmjs

on:
  release:
    types: [created]
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: pnpm/action-setup@v2.2.2
        with: 
          verison: 8
      - run: pnpm install
      - run: pnpm lint
      - run: pnpm test
      - run: pnpm build

  publish-npm:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - run: pnpm version patch
      - run: pnpm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
