name: Preview Release

env:
  DEBUG: napi:*
  APP_NAME: optimizer
  MACOSX_DEPLOYMENT_TARGET: '10.13'
  CARGO_INCREMENTAL: '1'

on:
  pull_request_review:
    types: [submitted]
  workflow_dispatch:
  push:
    branches:
      - chore/pkg-pr-new

permissions:
  contents: write
  packages: write
  pull-requests: write
  id-token: write

jobs:
  check:
    # First, trigger a permissions check on the user approving the pull request.
    if: |
      github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'pull_request_review' && github.event.review.state == 'approved') ||
      github.ref == 'refs/heads/chore/pkg-pr-new'
    runs-on: ubuntu-latest
    outputs:
      has-permissions: ${{ steps.checkPermissions.outputs.require-result }}
    steps:
      - name: Check permissions
        id: checkPermissions
        uses: actions-cool/check-user-permission@v2
        with:
          # In this example, the approver must have the write access
          # to the repository to trigger the package preview.
          require: 'write'

  build:
    needs:
      - check
    if: |
      github.event_name == 'workflow_dispatch' ||
      (github.event_name == 'pull_request_review' && needs.check.outputs.has-permissions == 'true') ||
      github.ref == 'refs/heads/chore/pkg-pr-new'
    uses: ./.github/workflows/build-napi.yml
    with:
      node-version: 20
  release:
    name: Release
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node & pnpm
        uses: ./.github/actions/setup-node-pnpm
        with:
          node-version: 20

      - name: Run checks
        run: pnpm run check

      - name: Run tests
        run: pnpm run test::coverage

      - name: Build Packages
        uses: ./.github/actions/build-packages

      - run: pnpm dlx pkg-pr-new publish './packages/fsrs' './packages/binding' './packages/binding/npm/wasm32-wasi' --compact
